.homeContainer {
	/* padding: 1.5rem 2rem; */

	height: 100vh;
	width: 100vw;
	max-width: 880px;

	display: grid;
	grid-template-rows: max-content 1fr max-content;
	margin: auto;
}

.header {
	padding: 1rem 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: #F5F5F5;
}

.userInfo {
	display: flex;
	align-items: center;
	justify-content: left;
	gap: 1rem;
}

.profile {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e8e8eb;
	width: 3rem;
	height: 3rem;
	object-fit: cover;
	border-radius: 50%;
	overflow: hidden;
}

.userStatus .status {
	display: flex;
	align-items: center;
	justify-content: left;
	gap: 0.25rem;

	margin-top: 0.25rem;
}

.userStatus .status::before {
	content: "";
	width: 0.5rem;
	height: 0.5rem;
	display: block;
	background-color: #00b37e;
	border-radius: 50%;
}

.userStatus .status {
	color: #00b37e;
	font-size: 0.75rem;
}

.lastSeen {
	margin: 1.5rem;
	font-size: 0.75rem;
	line-height: 0.875rem;
	text-align: center;
}

.messagesContainer {
	overflow-y: scroll;
	padding: 0 1.5rem;
}

.messagesContainer::-webkit-scrollbar {
	display: none;
}

.messages {
	margin-top: 1rem;
	display: grid;
	/* gap: 1.5rem; */
	font-size: 1rem;
	padding-bottom: 1rem;
}

.messageBubble:not(.you) {
	margin-right: auto;
	width: 40vw;
}

.messageBubble .top {
	font-size: 0.875rem;
	text-align: left;
}

.messageBubble .body {
	margin-top: 0.2rem;
	padding: 0.875rem;

	background-color: #E8E8EB;

	border-radius: 0 8px 8px 8px;

	width: fit-content;
}

.messageBubble.you {
	margin-left: auto;
}

.messageBubble.you .top {
	text-align: right;
}

.messageBubble.you .body {
	background-color: #057EFF;
	color: #f2f2f2;

	border-radius: 8px 8px 0 8px;
}

.inputWrapper {
	display: flex;
	gap: 1rem;
	align-items: center;

	background-color: #f2f2f2;
	padding: 0.875rem 1.5rem;
	border-radius: 9999px;
}

.inputWrapper input {
	flex: 1;

	color: #333;

	font-size: 1rem;

	outline: none;
}

.inputWrapper input::placeholder {
	color: #333;
	font-size: 1rem;
}

.inputWrapper button {
	line-height: 0;
	color: #333;
}

.inputWrapper button i {
	color: #e1e1e6;
	font-size: 1.5rem;
}

.inputWrapper button:hover {
	cursor: pointer;
}

footer {
	padding: 0 0.5rem 0.5rem;
}

input,
button {
	background-color: transparent;
	border: 0;
}

.messageForm:focus-within {
	outline: 2px solid #333;
	border-radius: 99999px;
}
