* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: #fff;
	color: #333;
	-webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
	font: 400 1rem 'Roboto', sans-serif;
}
