.signInContainer {
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.heading {
	font-size: 1.25rem;
	margin-bottom: 1rem;
}

.signInButton {
	padding: 1rem 2rem;
	background-color: #333;
	color: #f2f2f2;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.signInButton:hover {
	opacity: 0.8;
	transition: opacity 0.2s;
}
