.roomsContainer {
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.heading {
	font-size: 1.25rem;
	margin-bottom: 1rem;
}

.chatContainer {
	padding: 1.5rem 2rem;
	margin-bottom: .5rem;
	min-width: 16rem;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
	border: 1px solid hsl(240 5.9% 90%);
	border-radius: 4px;
	text-decoration: none;
	color: inherit;
	font-family: 'Roboto Mono', monospace;
}

.chatContainer:hover {
	background: hsl(240 4.8% 95.9%);
	color: hsl(240 5.9% 10%);
	transition-property: color, background-color;
	transition-duration: .15s;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}
